{% extends 'index.html'%}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% if filter %}
    <form method="get">
        <div class="well">
            <h1 style="margin-top: 0">Buscador</h1>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    <h4>Titulo</h4>
                    {% render_field filter.form.titulo class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    <h4>Fecha</h4>
                    {% render_field filter.form.fecha class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0 ">
                    Buscar
            </button>
        </div>
       
    </form>
{% endif %}
   

{% render_table table %}

    

</div>

{% endblock %}